.idle {
 width: 140px;
 height: 160px;
 z-index: 10;
 margin-top: 123px;
 margin-left: 200px;
 background: url('../images/moves/idle.png') left center;
 animation: idle .8s steps(10) infinite;
}

@keyframes idle {
	100% { background-position: -1509px; }
}

.jump {
  width: 140px;
  height: 170px;
  margin-top: 123px;
  margin-left: 200px;
  background-image: url('../images/moves/jump.png');
  animation: jump .8s steps(10) infinite;
}

@keyframes jump {
  0%{transform: translateY(-0px); }
 25%{transform: translateY(-100px); }
 50%{transform: translateY(-250px); }
 75%{transform: translateY(-150px); }
 100%{transform: translateY(-0px);background-position: -1509px;}

}

.dead {
  width: 240px;
  height: 180px;
  background-image: url('../images/moves/dead.png');
  animation: dead .8s steps(10);
}

@keyframes dead {
	100% { background-position: -2373px; }
}

.walk {
  width: 130px;
  height: 170px;
  margin-top: 123px;
  margin-left: 200px;
  background-image: url('../images/moves/walk.png');
  animation: walk .8s steps(10) infinite;
}

@keyframes walk {
	100% { background-position: -1509px; }
}

#enemy {
  top: 530px;
  left: 1600px;
  position: fixed;
  overflow: hidden;
}

.enemy-walk {
  width: 100px;
  height: 100px;
  background-image: url('../images/moves/enemy2.png');
  animation: walk-enemy .8s steps(10) infinite;
  transform: scaleX(-1);

}

@keyframes walk-enemy {
 100%{background-position: -1509px;}
}

#apple1{
  top: 10px;
  left: 660px;
}

#apple2{
  top:80px;
  left:1900px;
}

#apple3{
  top:90px;
  left:1750px;
}

#apple4{
  top:90px;
  left:1400px;
}

#apple5{
  top:100px;
  left:1400px;
}

.apple {
 position: absolute;
 width: 170px;
 height: 216px;
 background: url('../images/apple.png') left center;
 animation: apple-anim 1s steps(1) infinite;
 transform: scale(0.3);

}

@keyframes apple-anim {
  100% { background-position: 170px; }
}
