#index {
  background-image: url('../images/fondo.jpg');
  background-size: 100%;
}

#instrucciones {
  margin-left: 30px;
  margin-top: 200px;
  text-align: center;
  font-style: oblique;
  font-weight:900;
  color: white;
  font-size: 30px;
}

.playerIndex {
  width: 140px;
  height: 160px;
  margin-left: 200px;
  margin-top: 90px;
  background: url('../images/moves/idle.png') left center;
  animation: idle .8s steps(10) infinite;
}

#botonJugar {
  margin-left: 500px;
  font-style: oblique;
  margin-top: 250px;
}

#botonInstrucciones {
  font-style: oblique;
  margin-left: 500px;
  margin-top: 50px;
}

button {
  width: 250px;
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}

button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
